<h1>Listing scenes</h1>

<%= link_to 'New Scene', new_scene_path %>
<br /> <hr />

<% @scenes.each do |scene| %>
<div id="story">
    <p><strong><%= scene.name %></strong> (<%= link_to 'audio', scene.scene_audio %>) <br />
	<%= scene.scene_text %></p>
	<p><strong>Choice</strong> (<%= link_to 'audio', scene.choice_audio %>) <br />
	<%= scene.choice_text %></p>
    Option one: <%= scene.option_one %> | 
    Option two: <%= scene.option_two %> | 
    <%= link_to 'Show', scene %></td> |
    <%= link_to 'Edit', edit_scene_path(scene) %> |
    <%= link_to 'Destroy', scene, :confirm => 'Are you sure?', :method => :delete %>
	<hr />
<% end %>