<p id="notice"><%= notice %></p>

<h3>
  <%= @scene.story.name %>
</h3>

<p>
  <b>Scene:</b>
  <%= @scene.name %>
</p>

<p>
  <b>Scene text:</b>
  <%= @scene.scene_text %>
</p>

<p>
  <b>Order:</b>
  <%= @scene.order %>
</p>

<p>
  <b>Scene audio:</b> 
  <%= link_to_unless(@scene.scene_audio.nil?, "(link)", @scene.scene_audio) %>
</p>

<p>
  <b>Choice text:</b>
  <%= @scene.choice_text %>
</p>

<p>
  <b>Choice audio:</b>
  <%= link_to_unless(@scene.choice_audio.nil?, "(link)", @scene.choice_audio) %>
</p>

<p>
  <b>Option one:</b>
  <%= @scene.option_one %>
</p>

<p>
  <b>Option two:</b>
  <%= @scene.option_two %>
</p>


<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
