<h1>Listing users</h1>

<table>
  <tr>
    <th>Users <%= "(#{@users.size})" %></th>
    <th>Name</th>
    <th>Can text?</th>
    <th>save</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each_with_index do |user, count| %>
  <tr>
    <td><%= "#{count + 1}. "  %><%= link_to "#{user.mobile_number[-4..-1]}", user %></td>
    <td><%= user.name %></td>
    <td><%= user.can_text %></td>
	<% if user.last_game.blank? or user.last_scene.blank? %>
	<td>none</td>
	<% else %>
    <td><%= user.last_game %>.<%= user.last_scene %></td>
	<% end %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'X', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
