<h3>Listing stories</h3>

<% if current_user %>
<%= link_to 'New Story', new_story_path %>
<% else %>
<p>Sign in to create a story</p>
<% end %>

<br /> <hr />

<% @stories.each do |story| %>

 <div id="story">
	<%= link_to "#{story.name}", story %><%=  %> (<%= story.keyword %>) by
	<% if story.user.name %>
	<td><%= story.user.name %></td>
	<% else %>
    <td><%= story.user_id %></td>
	<% end %>
	| <%= story.active %> | 
	<% if story.scenes %>
	Scenes (<%= story.scenes.size %>)
	<% else %>
	No scenes yet
	<% end %>
	<p><strong>Description:</strong> <%= story.description %></p>
    <%= link_to 'Edit', edit_story_path(story) %> |
    <%= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete %>
	<br /> <hr />
<% end %>
</div>

