<p id="notice"><%= notice %></p>


  <h3><%= @story.name %></h3>
<p>by 
<% if @story.user.name %>
<%= @story.user.name %>
<% end %> 
</p>

<p>
  <b>Description:</b>
  <%= @story.description %>
</p>

<p>
  <b>Keyword:</b>
  <%= @story.keyword %> |  
<b>Active:</b>
  <%= @story.active %>
</p>

<p>
  <%= button_to "Add Scene", "#{@story.id}/scenes/new" %>
</p>

	<table>
	  <tr>
		<th>Sc. #</th>
		<th>Title</th>
		<th>Choice 1</th>
		<th>Choice 2</th>
		<th></th>
		<th></th>
	  </tr>

	<% @story.scenes.each_with_index do |scene, count| %>
	  <tr class="<%= cycle("even", "odd") %>">
		<td><%= count + 1 %></td>
		<td><%= link_to scene.name, scene %></td>
		<td><%= scene.option_one %></td>
		<td><%= scene.option_two %></td>
		<td><%= link_to 'Edit', edit_scene_path(scene) %></td>
		<td><%= link_to 'X', scene, :confirm => 'Are you sure?', :method => :delete %></td>	  
	  </tr>
	<% end %>
	</table>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
